* {
  padding: none; 
  margin: none; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  border: 1px solid red; 
}

body {
  width: 100vw; 
  min-height: 100vh; 
}

header > nav {
  display: flex; 
  justify-content: center; 
}

header > nav > button {
  margin: 1rem;
  width: 5rem; 
  padding: 0.5rem; 
  background-color: yellow; 
}

 header > nav > button:hover {
  background-color: orange; 
  cursor: pointer; 
 }

.content-block > img {
  height: 10rem; 
  width: 10rem; 
}

#home-div {
  margin-top: 2rem; 
  margin-bottom: 2rem; 
  text-align: center; 
  display: flex; 
  flex-direction: column;
  align-items: center; 
}

#home-div > p, #home-div > h1 {
  width: 30rem; 
}

.menu-div {
  border: 1px solid black;  
  text-align: center;
  margin: none;  
}

 p {
  margin: none; 
 }

